body > .container {
  padding-top: 40px;
}

.card-panel {
  background-color: transparent;
}

.screenshot-wrapper {
  margin: 0 auto;
}

.steam-screenshot {
  max-width: 100%;
  display: inline-block;
}

.pagination li a {
  display: block;
}

.steam-screenshot-title {
  font-size: 1.64rem;
  line-height: 1.804rem;
  margin: 0 0 0.656rem 0;
}

#secondary-steam-user-lookup-form .steam-user-name {
  margin-left: 0.5em;
}

label, label i {
  cursor: pointer;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
